<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index首页</title>
</head>
<body>
<h1>首页</h1>
<h3>1、测试@RequestBody</h3>
<form th:action="@{/testRequestBody}" method="post">
    用户名：<input type="text" name="username"><br>
    密码：<input type="password" name="password"><br>
    <input type="submit" value="测试@RequestBody">
</form>
<hr/>
<h3>2、测试RequestEntity</h3>
<form th:action="@{/testRequestEntity}" method="post">
    用户名：<input type="text" name="username"><br>
    密码：<input type="password" name="password"><br>
    <input type="submit" value="测试RequestEntity">
</form>
<hr/>
<h3>3.1、测试HttpServletResponse</h3>
<a th:href="@{/testHttpServletResponse}">/testHttpServletResponse -> 通过servlet API的response对象响应浏览器数据</a>
<hr/>
<h3>3.2.1、测试@ResponseBody（响应字符串）</h3>
<a th:href="@{/testResponseBody}">/testResponseBody -> 通过SpringMVC的@ResponseBody注解，响应浏览器数据（字符串）</a>
<hr/>
<h3>3.2.2、测试@ResponseBody（响应对象：json对象或json数组）</h3>
<a th:href="@{/testResponseUser}">/testResponseUser -> 通过SpringMVC的@ResponseBody注解，响应浏览器数据（对象：json对象或json数组）</a>
<hr/>
<h3>3.2.3、测试@ResponseBody（响应ajax）</h3>
<div id="app">
    <a @click="testAjax" th:href="@{/testAxios}">/testAxios -> 通过SpringMVC的@ResponseBody注解，响应浏览器数据（ajax）</a>
</div>
<script type="text/javascript" th:src="@{/static/js/vue.js}"></script>
<script type="text/javascript" th:src="@{/static/js/axios.min.js}"></script>
<script type="text/javascript">
    new Vue({
        el: "#app",
        methods: {
            // a标签点击事件函数
            testAjax: function (event) {
                axios({
                    method: "post",         // 请求method
                    url: event.target.href, // 请求URL（从a标签的href属性获取）
                    params: {               // 请求参数
                        username: "admin",
                        password: "123456"
                    }
                }).then(
                    // Ajax请求成功之后处理的函数
                    function (response) {
                        alert(response.data)    // 响应数据，在alert弹窗中显示
                    })
                event.preventDefault()  // 阻止页面跳转
            }
        }
    })
</script>
<hr/>
<h3>3.3、测试@RestController注解（@Controller + @ResponseBody）</h3>
<a th:href="@{/testRestController}">/testRestController -> @RestController = @Controller + @ResponseBody</a>
<hr/>
</body>
</html>