<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>success成功页</title>
</head>
<body>
<h1>成功页</h1>
<h3>1、Servlet API</h3>
<!-- 视图接收Servlet API request域对象共享的数据，thymeleaf只能解析属性上大括号的值，所以不能写在p标签内部 -->
<p th:text="${testServletAPIAttributeData}"></p>
<hr/>
<h3>2、Model And View</h3>
<p th:text="${modelAndViewScopeData}"></p>
<hr/>
<h3>3、Model</h3>
<p th:text="${modelAttributeData}"></p>
<hr/>
<h3>4、Map</h3>
<p th:text="${mapData}"></p>
<hr/>
</body>
</html>